@charset "UTF-8";
body {
  font-size: 20px;
  text-align:center;
  background-color : #5F9EA0;
}

h1{
	color: white;
	padding:15px;
}

input, button {
  font-size:30px;
  color: white;
  background-color: black;
  
}

img{
	width: 20%;
	height:20%;
	margin-top: 20px;
}
